<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Registration</h2>
    <form id="form">
        <p>Введіть ваше ім'я:</p>
        <input type="text" name="name" id="username">

        <p>Введіть вашу електронну пошту:</p>
        <input type="text" name="email" id="email">

        <p>Введіть ваш пароль:</p>
        <input type="text" name="password" id="password">

        <input type="submit" id="btn" value="Готово!">
    </form>

    <div id="div">

    </div>

    <script>
        const form = document.getElementById("form");
        const div = document.getElementById("div");

        form.addEventListener("submit", function(event){
        form.preventDefault();

        const username = document.getElementById("username");
        const email = document.getElementById("email");
        const password = document.getElementById("password");

        fetch(`/sign_up?username=${username}&email=${email}&password=${password}`)
        .then(response => response.json())
        .then(data => {
        div.innerHTML = `<p>${data["signUp"]}</p>`
        })
        });
    </script>
</body>
</html>